.button {
  background-color: aqua;
  color: black;
  border-radius: 16px;
}
img {
  width: 400px;
  height: 300px;
}
body {
  background-color: #000000;
  color: #00FFFF;
}
a {
  color: #FFFF00;
  background-color: #000000;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  text-decoration: underline;
}
a:visited {
  color: #FF00FF;
}
div {
  height: 200px;
  width: 200px;
  background-color: #0000FF;
  border: 5px white solid;
  border-radius: 40px;
  padding: 1em;
  float: right;
}
h1 {
  font-weight: bold;
}

